<div id="<%= dom_id formulario %>">
  <p>
    <strong>Template usado:</strong>
    <%= formulario.template_usado %>
  </p>

  <p>
    <strong>Perguntas:</strong>
    <%= formulario.perguntas %>
  </p>

</div>
