<div id="<%= dom_id question %>">
  <p>
    <strong>Text:</strong>
    <%= question.text %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= question.type %>
  </p>

  <p>
    <strong>Template:</strong>
    <%= question.template_id %>
  </p>

</div>
