<h1>Caamar - Email</h1>

<p>
  Entre no Camaar!
</p>
<br>
<p>Bem vinde, <%= @email %>! Siga o link abaixo para se registrar no Camaar</p>

<p>
  <%=link_to "Registrar", new_user_registration_path(user_email: @email), target: '_blank'%>
</p>