<%=render '/navbar/navbar'%>

<div class="button-container">
  <button>Importar dados</button>
  <button>Editar template</button>
  <%= link_to 'Enviar Formulários', controller: 'turmas' %>
  <button>Resultados</button>
</div> 
