<%=render '/navbar/navbar'%>

<% if @templates.empty? %>
    <h1 style="margin-left: auto; margin-right: auto; width: fit-content; margin-top: 1rem">Não existem templates criados</h1>
<% else %>
    <div class="grid-container" style="padding: 1rem">
        <% @templates.each do |template| %>
            <div class="card">
                <h2><%= template["name"] %></h2>
            </div>
        <% end %>
    </div>
<% end %>