<%=render '/navbar/navbar'%>

<div class="button-container">
  <button>Importar dados</button>
  <button>Editar template</button>
  <button>Enviar Formulário</button>
  <button>Resultados</button>
</div> 
