<!DOCTYPE html>
<html>
<head>
  <title>P치gina Gerenciar Formul치rios</title>
</head>
<body>
    <main>
        <h1>Formul치rios</h1>

        <!-- Menu de Gerenciamento -->
        <div class="gerenciamento-menu">
            <h2>Menu de Gerenciamento</h2>
            <ul>
                <li><%= link_to 'Importar Dados', new_formulario_path %></li>
                <li><%= link_to 'Enviar formul치rios', formularios_path %></li>
                <li><%= link_to 'Resultados', export_csv_formularios_path(format: :csv) %></li>
            </ul>
        </div>
    </main>
</body>
