<%# @questions.each do |question| %>
<%# end %>

<%= form_with class: "flex w-full h-full" do |f| %>
  <div class="flex w-full h-full justify-center items-center">
    <div class="flex flex-col w-[600px] max-h-[600px] overflow-y-auto gap-8 bg-white p-8 rounded-lg">
      <span class="text-2xl text-slate-600 font-bold"><%= "#{@form_request.study_class.name}, #{@form_request.study_class.semester}" %></span>
      <div class="flex flex-col gap-4">
        <% @form_request.template.template_questions.each_with_index do |question, idx| %>
          <%= render :partial => "response/question", :locals => {
            form: f,
            question: {
              :index => idx,
              :title => question.title,
              :type => question.type,
              :content => question.content
            }
          } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
