<h1>Editing departamento</h1>

<%= render "form", departamento: @departamento %>

<br>

<div>
  <%= link_to "Show this departamento", @departamento %> |
  <%= link_to "Back to departamentos", departamentos_path %>
</div>
