<div class="container">
  <h1>Departamentos</h1>
  
  <div class="search-box">
    <input type="text" placeholder="Pesquisar departamentos..." />
  </div>
  
  <div class="button-container">
    <% @departamentos.each do |departamento| %>
      <%= link_to departamento.nome, departamento_path(departamento), class: 'template-button' %>
    <% end %>
  </div>

  <%= link_to '+', new_departamento_path, class: 'add-button' %>
</div>
