<h1> Gerenciamento - Visualização de template </h1>

<%= render "form", template: @template %>

<br>

<div>
  <%= link_to "Visualizar template", @template %> |
  <%= link_to "Voltar", templates_path %>
</div>
