<h1>Todos os modelos</h1>

<% @templates.each do |template| %>
    <h2><%= template %></h2>
    <%= render partial: 'partials/template', locals: { templatelike: template, disabled: true } %>
    <hr>
<% end %>
