<div class = "main_block">
    <div class = "left_block">
        <div class="mb-3">
        <h2>Login</h2> 
            <label for="exampleFormControlInput1" class="form-label fm">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@aluno.com.br">
            </div>
            <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Senha">
                <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3 subbtn">Entrar</button>
            </div>
        </div>
    </div>  
    <br><br>

    <div class ="right_block">
        <h1>Bem-vindo ao CAAMAR</h1>
    </div>
</div>