<div id="sidebar" class="sidebar">
  <a href="#" class="closebtn" id="closebtn">&times;</a>
  <%= link_to "Avaliações", "#", id: "avaliacoes-btn" %>
  <%= link_to "Gerenciamento", "#", id: "gerenciamento-btn" %>
</div>