<div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

    <div class="formbold-form-wrapper">
                          <h1><%= @form.id %> </h1>

      <form action="http://localhost:3000/layouts/page" method="GET">

      <% if @form_question.question_type == "multiple-choice"%>
        <div class="formbold-mb-5">
          <label for="qusTwo" class="formbold-form-label">
            Avalie CIC0197
          </label>
  
          <div class="formbold-radio-flex">
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                0
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                 1
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                2
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
  
            <div class="formbold-radio-group">
              <label class="formbold-radio-label">
                <input
                  class="formbold-input-radio"
                  type="radio"
                  name="qusOne"
                  id="qusOne"
                />
                3
                <span class="formbold-radio-checkmark"></span>
              </label>
            </div>
            <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  4
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
              <div class="formbold-radio-group">
                <label class="formbold-radio-label">
                  <input
                    class="formbold-input-radio"
                    type="radio"
                    name="qusOne"
                    id="qusOne"
                  />
                  5
                  <span class="formbold-radio-checkmark"></span>
                </label>
              </div>
          </div>
        </div>
        <% end %> 

        <%if @form_question.question_type == "text"%>
          <div class="formbold-input-flex">
            <div>
              <label for="reclamation" class="formbold-form-label">
               <%= @form_question.title%>
              </label>
              <input
                type="text"
                name="reclamation"
                id="reclamation"
                placeholder="Digite..."
                class="formbold-form-input"
              />
            </div>
        </div>
        <% end %>
        
        <button class="formbold-btn">Enviar</button>
      </form>
    </div>
  </div>
                   
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
