<% if selected %>
  <div class="flex justify-center p-4 hover:cursor-pointer bg-[#6C2365]">
    <span class="text-white"><%= tab_name %></span>
  </div>
<% else %>
  <div class="flex justify-center p-4 hover:cursor-pointer"><span><%= tab_name %></span></div>
<% end %>