<h1>Editing reports aluno</h1>

<%= render "form", reports_aluno: @reports_aluno %>

<br>

<div>
  <%= link_to "Show this reports aluno", @reports_aluno %> |
  <%= link_to "Back to reports alunos", reports_alunos_path %>
</div>
