.button-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50vh;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 5%;
    justify-items: center;
    align-items: center;
    padding-top: 80px ;
  }

.button-container button {
    margin: 10px; 
    padding: 10px 20px;
    background-color: #86EFAC;
    color: #fff;
    width: 60%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

  