<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bom dia, corno!</h1>
    <p>
      Você foi convidado a se registrar no CAAMAR, platadorma de avaliação de disciplinas da UnB.
      Para prosseguir, registre sua senha em: localhost:3000//definir-senha .<br>
    </p>
    
    <p>Conte conosco!</p>
  </body>
</html>
