body {
    display: block;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
    height: 60px;
    background-color: white;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.left-frame {
    display: flex;
    align-items: center;
    position: relative; /*mudança para que a side-bar seja um menu suspenso*/
}

.menu-button {
    width: 43px;
    height: 43px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.header-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-left: 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 271px;
    height: 40px;
    margin-right: 51px; /* Adjusted for spacing between search bar and user button */
    margin-left: auto; /* Aligns the search bar to the right of left-frame */
    position: relative;
}

.search-bar input {
    width: 100%;
    height: 100%;
    border-radius: 47px;
    border: 1px solid #ccc;
    padding-left: 40px; /* To make space for the icon */
}

.search-icon {
    position: absolute;
    left: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.sign-out {
    position: absolute;
    top: 50px; /* Ajuste conforme necessário para a posição correta */
    right: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    display: none; /* Inicialmente oculto */
  }

.user-button {
    width: 43.48px;
    height: 43.84px;
    background-color: #6C2365;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    margin-right: 6.16px; /* Adjusted for spacing */
    position: relative;
}

.user-button:hover + .sign-out {
    display: block; /* Mostra sign-out ao passar o mouse sobre user-button */
  }
  
  .sign-out a {
    text-decoration: none;
    color: #333;
  }
  
  .sign-out a:hover {
    text-decoration: underline;
    color: #555;
  }

.content-frame {
    display: flex;
    width: 1280px;
    height: 772px;
    background-color: #DBDBDB; /* Adjust the background color as needed */
    margin-top: 60px; /* Ensure the frame starts below the header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional, adds a shadow to the frame */
    box-sizing: border-box; /* Ensures padding is included in the width/height */
}

.side-bar{
    width: 257px;
    height: 772px;
    top: 60px;
    background-color: #FFFFFF;
    display: none; /*inicialmente oculto*/
    position: absolute;
    z-index:1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*mostrar o side-bar no hover*/
.left-frame:hover .side-bar{
    display:block
}

.select-button {
    width: 157px;
    height: 24px;
    background-color: #FFFFFF;
    color: #2E2F30;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 11px 50px 11px 50px;
}

.select-button:active, .select-button:focus {
    background-color: #6C2365;
    color: #FFFFFF;
}