.container{
    background: #DBDBDB;

}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;  
    left: calc(50% - 1280px/2);
    top: calc(50% - 60px/2 - 386px);
    box-shadow: 0px 11px 10.7px rgba(0, 0, 0, 0.05);
    height: 60px;
}
.img_list{
    position: absolute;
    width: 43px;
    height: 43px;
    top: 17px;
    cursor: pointer;
}

.img_user{
    position: absolute;
    width: 43.84px;
    height: 35px;
    left: 1800px;
    top: 19px;
    cursor: pointer;
}

#campo_pesquisar{
    box-sizing: border-box;
    position: absolute;
    left: 80%;
    top: 17px;
    bottom: 13.33%;
    border: 1px solid #8E8E8E;
    border-radius: 47px;
    width: 271px;
    height: 40px; 
    padding: 10px 35px;
}

.lupa{
    position: absolute;
    width: 25.51px;
    height: 24px;
    top: 25px;
    left: 80.5%;
    color: #8E8E8E ;
    cursor: pointer;
   
}