<nav class="navbar navbar-expand-lg navbar-light bg-light">

<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Navegar
</a>

</nav>




<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
 
  <div class="offcanvas-body">
    <%= link_to 'Gerenciamento', controller: 'gerenciamento' %> <!-- Nao ta funcionando -->
    <%= link_to 'Turmas', controller: 'turmas' %>
  </div>
</div>
