<nav class="navbar navbar-expand-lg navbar-light bg-light">

<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Avaliações
</a>

</nav>




<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
 
  <div class="offcanvas-body">
    <a>Avaliações</a>
    <a>Gerenciamento</a>
  </div>
</div>
