<p style="color: green"><%= notice %></p>

<h1>Materias</h1>

<div id="materias">
  <% @materias.each do |materia| %>
    <%= render materia %>
    <p>
      <%= link_to "Show this materia", materia %>
    </p>
  <% end %>
</div>

<%= link_to "New materia", new_materia_path %>
