.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 10px;
    text-decoration: none;
    font-size: 24px;
    align-items: center;
    text-align: center; /* Centraliza o texto */
    color: black;
    display: block;
    transition: 0.5s;
}

.sidebar a:hover {
    background-color: #6C2365;
    color: white; /* Muda a cor do texto para branco no hover */
}


.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}