<p><%= @resource.email%>,</p>

<p>Segue o link para definir sua senha: </p>

<p><%= link_to 'Definir Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se for o primeiro acesso, defina a senha para regularizar a conta.</p>