
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Formulários Criados</h2>
                                <%= button_to "Adicionar Formulário", "form_student", method: :get ,class:"au-btn au-btn-icon au-btn--blue" %>

                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon-container">
                                                <i class="fas fa-plus"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="text">
                                            <h1>Template 1</h1>
                                                <h2>CIC0097 - 2024.1 - TA </h2>
                                                <span>Pendente</span>
                                            </div>
                                            
                                            <div class="icons-container">
                                             <i class="fas fa-edit"></i>
                                             <i class="fas fa-download"></i>
                                            </div>
                                        
                                         
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="text">
                                                <h1>Template 2</h1>
                                                <h2>CIC0105 - 2024.1 - TA </h2>
                                                <span>Pendente</span>
                                            </div>

                                            <div class="icons-container">
                                             <i class="fas fa-edit"></i>
                                             <i class="fas fa-download"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="text">
                                                <h1>Template 3</h1>
                                                <h2>CIC0198 - 2024.1 - TA </h2>
                                                <span>Pendente</span>
                                            </div>

                                            <div class="icons-container">
                                             <i class="fas fa-edit"></i>
                                             <i class="fas fa-download"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="text">
                                                 <h1>Template 4</h1>
                                                <h2>CIC0099 - 2024.1 - TA </h2>
                                                <span>Pendente</span>
                                            </div>

                                            <div class="icons-container">
                                             <i class="fas fa-edit"></i>
                                             <i class="fas fa-download"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                  
                           
                        </div>
                      
            
                    </div>
                </div>
            </div>
        