
            <div class="main-content">
                <div class="section__content section__content--p30">

                 <div class="row m-t-30">
                            <div class="col-md-12">
                                <!-- DATA TABLE-->
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                    <h1 style ="text-align:center;"> Departamento de Ciências da Computação</h1>
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Semestre</th>
                                                <th>Código</th>
                                                <th>Turma</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>OAC</td>
                                                <td>2024.1</td>
                                                <td>CIC0099</td>
                                                <td>1</td>
                                            </tr>
                                      
                                            <tr>
                                                <td>APC</td>
                                                <td>2024.1</td>
                                                <td>CIC0180</td>
                                                <td>2</td>
                                            </tr>
                                      
                                          
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE-->
                            </div>
                        </div> 
                           
                </div>
                      
            
            </div>
                </div>
            </div>














