<div class="container-formularios">
  <% @formularios.each do |formulario| %>
    <div class="box-avaliacao">
      <h1><%= formulario.materia_nome %></h1>
      <p><%= formulario.turma_semestre %></p>
      <% first_name = formulario.professor_name.split(' ').first %>
      <h4><%= first_name %></h4>
    </div>
  <% end %>
  <div> teste </div>
</div>