<div id="<%= dom_id formulario %>">
  <p>
    <strong>Id turma:</strong>
    <%= formulario.id_turma %>
  </p>

  <p>
    <strong>Id template:</strong>
    <%= formulario.id_template %>
  </p>

</div>
