<%= stylesheet_link_tag "index.css" %>
 
<div class="wrapper fadeInDown">
  <div id="formContent">
    <%= image_tag("logo-unb.png",alt: 'Avaliacao', class: "logo",width: 300, height: 150) %>
   <br>
    <h1> Bem vindo ao <h1>
    <h1> CAMAAR</H1>
    <form>
      <div class="submit-container mt-3">
      
      <%= link_to 'Usuário', 'users/login', class: 'submit-userslogin', role: 'button' %>
      <%= link_to 'Admin', 'admins/login', class: 'submit-adminlogin', role: 'button'%>
     
      </div>
    </form>
  </div>
</div>
