<h1>Editing formulario template</h1>

<%= render "form", formulario_template: @formulario_template %>

<br>

<div>
  <%= link_to "Show this formulario template", @formulario_template %> |
  <%= link_to "Back to formulario templates", formulario_templates_path %>
</div>
