<p style="color: green"><%= notice %></p>

<h1>Formulario templates</h1>

<div id="formulario_templates">
  <% @formulario_templates.each do |formulario_template| %>
    <%= render formulario_template %>
    <p>
      <%= link_to "Show this formulario template", formulario_template %>
    </p>
  <% end %>
</div>

<%= link_to "New formulario template", new_formulario_template_path %>
