<% if resource.errors.any? %>
<div class="frame-error">
  <div class="modal-error">
    <div id="error_explanation" data-turbo-cache="false">
      <span class="title">
        <%= I18n.t("errors.messages.not_saved",
                  count: resource.errors.count,
                  resource: resource.class.model_name.human.downcase)
        %>
      </span>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <div class="button" onclick="closeModal()">Dismiss</div>
  </div>
</div>

<% end %>

<script>
function closeModal(){
  let modal = document.querySelector(".modal-error");
  modal.classList.add("hide-modal");
}
</script>