<div>
  <br>
  <% if @errors.any? %>
    <div>
      <% @errors.each do |e| %>
        <p class="alert alert-warning">
          <%= e %>
        </p>
      <% end %>
    </div>
  <% end %>
  <div>
    <% @forms.each do |form| %>
      <%= link_to form.name, edit_form_path(form) %>
      <br>
    <% end %>
  </div>
</div>