<nav class="navbar navbar-expand-lg navbar-light bg-light">

<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Avaliações
</a>

</nav>




<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
 
  <div class="offcanvas-body">
    <a>Avaliações</a>
    <a>Gerenciamento</a>
  </div>
</div>


<div class="grid-container">

    <div class="card">
        <h2>Subject Name</h2>
        <p>Semester: 1</p>
        <p>Professor: Maicon Douglas</p>
    </div>
    <div class="card">
        <h2>Subject Name</h2>
        <p>Semester: 2</p>
        <p>Professor: Curintcha</p>
    </div>
    <div class="card">
        <h2>Subject Name</h2>
        <p>Semester: 3</p>
        <p>Professor: FLAMENGOn</p>
    </div>
    <div class="card">
        <h2>Subject Name</h2>
        <p>Semester: 3</p>
        <p>Professor: PAulão</p>
    </div>
    <div class="card">
        <h2>Subject Name</h2>
        <p>Semester: 3</p>
        <p>Professor: aiiin</p>
    </div>
</div>
