<%=render '/navbar/navbar'%>

<div class="grid-container">

    <div class="card">
        <h2>Subject Name</h2>
        <p>Semester: 1</p>
        <p>Professor: Maicon Douglas</p>
    </div>
    <div class="card">
        <h2>Subject Name</h2>
        <p>Semester: 2</p>
        <p>Professor: Curintcha</p>
    </div>
    <div class="card">
        <h2>Subject Name</h2>
        <p>Semester: 3</p>
        <p>Professor: FLAMENGOn</p>
    </div>
    <div class="card">
        <h2>Subject Name</h2>
        <p>Semester: 3</p>
        <p>Professor: PAulão</p>
    </div>
    <div class="card">
        <h2>Subject Name</h2>
        <p>Semester: 3</p>
        <p>Professor: aiiin</p>
    </div>
</div>
