<h1>Editing reports professor</h1>

<%= render "form", reports_professor: @reports_professor %>

<br>

<div>
  <%= link_to "Show this reports professor", @reports_professor %> |
  <%= link_to "Back to reports professors", reports_professors_path %>
</div>
