<div class="flex flex-wrap w-full p-8">
  <% @forms.each do |form| %>
    <div class="hover:cursor-pointer flex flex-col gap-4 w-64 bg-white rounded-lg p-4">
      <div class="flex flex-col gap-2">
        <span class="text-2xl font-bold"><%= form.study_class.name %></span>
        <span class="text-sm text-slate-400"><%= form.study_class.semester %></span>
      </div>
      <span class="font-semibold text-slate-600 text-end"><%= form.study_class.docente.nome %></span>
    </div>
  <% end %>
</div>