<%= form_with url: send_forms_from_template_path(:template_id), method: 'post' do |form| %>
    <%= form.collection_select :template_id, @templates, :id, :to_s %>
    <br>
    <div class='list-group'>
    <%= form.collection_check_boxes :discipline_ids, @disciplines, :id, :name_detailed, class: 'list-group-item', include_hidden: false %>
    </div>
    <%= form.submit "Enviar" %>
<% end %>