<!DOCTYPE html>
<html>
<head>
  <title>Accesso Proibido</title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      text-align: center;
      font-family: Arial, sans-serif;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1, p {
      display: inline-block;
      margin: 0.5em 0;
    }
  </style>
</head>
<body>
  <div class="content">
    <h1>Accesso Proibido</h1>
    <p>Você não tem acesso a essa página.</p>
  </div>
</body>
</html>