<p>Olá, <%= @resource.email %>!</p>

<p>Alguém fez uma requisição para mudar seu email.Caso seja realmente você, acesse o link abaixo.</p>

<p><%= link_to 'Mudar minha Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez a requisição, ignore esse email.</p>
<p>Sua senha não mudará enquanto você não acessar o link e mudá-la.</p>
