<%= stylesheet_link_tag "base" %>
<%= stylesheet_link_tag "management" %>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">


<body>
<div class="header-bar">
  <div class="left-frame">
    <button class="menu-button">&#9776;</button>
    <span class="header-text">Avaliações</span>
  </div>
  <div class="search-bar">
    <input type="text">
    <button class="search-icon">&#128269;</button>
  </div>
  <button class="user-button">U</button>
</div>
<div class="content-frame">
  <div class="side-bar">
    <div class="select-button">Avaliações</div>
    <div class="select-button">Gerenciamento</div>
  </div>
  <div class="management-contents">
    <div class="button-box">
      <button type="submit" class="button">Importar dados</button>
      <button type="submit" class="button">Editar templates</button>
      <button type="submit" class="button">Enviar Formulários</button>
      <button type="submit" class="button">Resultados</button>
    </div>
  </div>
</div>

</body>