<%= stylesheet_link_tag "base" %>
<%= stylesheet_link_tag "assessments" %>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

<body>
<div class="header-bar">
  <div class="left-frame">
    <button class="menu-button">&#9776;</button>
    <span class="header-text">Avaliações</span>
  </div>
  <div class="search-bar">
    <input type="text">
    <button class="search-icon">&#128269;</button>
  </div>
  <button class="user-button">U</button>
</div>
<div class="content-frame">
  <div class="side-bar">
    <div class="select-button">Avaliações</div>
    <div class="select-button">Gerenciamento</div>
  </div>

  <div class="assessments-container">
    <div class="assessments-box">
      <div class="subject-name">Nome da matéria</div>
      <div class="semester">semestre</div>
      <div class="professor">Professor</div>
    </div>
    <div class="assessments-box">
      <div class="subject-name">Nome da matéria</div>
      <div class="semester">semestre</div>
      <div class="professor">Professor</div>
    </div>
    <div class="assessments-box">
      <div class="subject-name">Nome da matéria</div>
      <div class="semester">semestre</div>
      <div class="professor">Professor</div>
    </div>
    <div class="assessments-box">
      <div class="subject-name">Nome da matéria</div>
      <div class="semester">semestre</div>
      <div class="professor">Professor</div>
    </div>
    <div class="assessments-box">
      <div class="subject-name">Nome da matéria</div>
      <div class="semester">semestre</div>
      <div class="professor">Professor</div>
    </div>
  </div>
</div>

</body>