<!-- HEADER DESKTOP-->
<header class="header-desktop">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="header-wrap">
        <div class="header-button">
          <% if current_page?("/templates") %>
            <%= button_to "Adicionar Template", "templates/new", method: :get, id: "add_template", class: "au-btn au-btn-icon au-btn--blue" %>
          <% end %>        </div>
        <form class="form-header" action="" method="POST">
          <input class="au-input au-input--xl" type="text" name="search" placeholder="Pesquise por formulários &amp; templates..." />
          <button class="au-btn--submit" type="submit">
            <i class="zmdi zmdi-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</header>
<!-- HEADER DESKTOP-->