<div class="container w-50 bg-secondary">
  <h3><%= @pergunta %></h3>
  <div class="form-check ps-5">
    <input class="form-check-input" type="radio" name="radioDefault" id="muito-bom" value="muito-bom">
    <label class="form-check-label" for="muito-bom">Muito Bom</label>
  </div>
  <div class="form-check ps-5">
    <input class="form-check-input" type="radio" name="radioDefault" id="bom" value="bom">
    <label class="form-check-label" for="bom">Bom</label>
  </div>
  <div class="form-check ps-5">
    <input class="form-check-input" type="radio" name="radioDefault" id="satisfatorio" value="satisfatorio">
    <label class="form-check-label" for="satisfatorio">Satisfatório</label>
  </div>
  <div class="form-check ps-5">
    <input class="form-check-input" type="radio" name="radioDefault" id="ruim" value="ruim">
    <label class="form-check-label" for="ruim">Ruim</label>
  </div>
  <div class="form-check ps-5">
    <input class="form-check-input" type="radio" name="radioDefault" id="pessimo" value="pessimo">
    <label class="form-check-label" for="pessimo">Péssimo</label>
  </div>
</div>